body{ 
    background-color: rgb(69, 69, 69);
}

header{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 80px;
    color: black;
    border:solid;
    background-color: black;
    border-radius: 5px;
    


}


.home{

    font-size: 50px;
    margin-right: 80%;
    text-decoration: none;

}




.rep{
    
    font-size: 50px;
    margin-right:15%;
    text-decoration: none;

}

.imgHome{

   border-bottom: solid white;
   border-left:  solid white;
   border-right: solid white;

height: 600px;
width: 1520px;
}

.athenaRep{
    display: flex;
    border: solid white;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: wrap;
   


}

.athen{
border: solid white;
width: 450px;
margin: 25px;

}


.TALLTALES{

    display: flex;
    border: solid white;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: wrap;


}

.Tale{

    border: solid white;
    width: 450px;
    margin: 25px;

}

.SeaDogRep{
    display: flex;
    border: solid white;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: wrap;

}

.Seadog{

    border: solid white;
    width: 450px;
    margin: 25px;

}